header, .hero, .body, .footer{
	background-color: gray;
	margin-bottom: 10px;
}
.box{
	background-color: blue;
	margin-bottom: 5px;
	min-height: 50px;
}
.red{
	background-color: red;
}
.green{
	background-color: green;
}
.yellow{
	background-color: yellow;
}